.map-container {
    height: 1000px;
    width: 500px;
    margin-left: 400px;
    margin-top: 20px;
} 

.Combobox-Input{
    height: 80px;
    width: 80px;
} 

.body{
    background-color:  #baaeab;
}